*{
    margin: 0px;
    padding: 0px;
}

#box{
    display: flex;
    justify-content: space-between;
}

#music-container{
    /* border: 3px solid green; */
     background: #121212;
    width: 80%;
    position: relative;
    
}

#arrow{
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

#arrow i {
    color: white;
    font-size: 20px;
    transition: 0.3s;
}

#arrow i:hover {
    color: #1DB954;
}

#music-player{
    border: 1px solid #1E1E1E;
     background: #1E1E1E;
    height: 500px;
    width: 500px;
    margin-left: 30%;
    margin-top: 5%;
    border-radius: 20px;
    
}
#song-list{
    /* border: 1px solid red; */
    height: 99vh;
    width: 20vw;
    background: #181818;
    color: white;
}

#cover{
    /* border: 1px solid black; */
    background: #2A2A2A;
    
    height: 300px;
    width: 400px;
    margin-left: 10%;
    margin-top: 4%;
}

#music-range{
    width: 90%;
    margin-left: 20px;
    margin-top: 10px;
    accent-color: #1DB954;
}

#play-icon{
    /* border: 1px solid black; */
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
}

 .backward-play-forward{
    
    margin-top: 10px;
    color: #ffffff;
    /* border: 1px solid black; */
    border-radius: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 200;
 }
 .backward-play-forward i:hover {
    color: #1DB954;
    transform: scale(1.2);
}

#volume-bar {
  width: 300px;
  cursor: pointer;
  margin-left: 90px;
}




#songs{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.songItem{
    font-size: 20px;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 10px;
    background-color: rgb(244, 240, 240);
    color: black;
    border-radius: 20px;
}
.songItem:hover{
background-color:#1DB954 ;

}

#songname {
    margin: 12px 0;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.5px;
}


